*{
    padding: 0;
    margin: 0;
}

::-webkit-input-placeholder { /* Edge */
    color: #d5e3e3;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #d5e3e3;
}

::placeholder {
    color: #d5e3e3;
}
h1{
    font-size: 50px;
}

body{
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #0b1426;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #0b1426;
    z-index: -1;
}

.navbar > .left{
    display:flex;
    justify-content: start;
    gap: 25px;
    align-items: center;
}

.left > div{
    background: transparent;
    border-radius: 25px;
    border: 1px solid white;
    padding: 5px;
    width: 350px;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-left: 10px;
}

.left > div > input{
    color: #d5e3e3;
    background: transparent;
    border: none;
}
.left > div > input:focus{
    border: none;
    outline: none;
}

.navbar > .right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    font-weight: bolder;
    font-size: 14px;
}

.right > .create{
    border-right: 1px solid white;
}

.right > div{
    padding: 5px 10px;
}

.sign-up{
    padding: 30px;
    background: linear-gradient(90deg,#1199fa,#11d0fa);
    border-radius: 4px;
    align-items: center;
    display: flex;
    position: relative;
    text-align: -webkit-match-parent;
}
.sign-up > button{
    border: none;
    background: linear-gradient(90deg,#1199fa,#11d0fa);
    border-radius: 4px;
    line-height: 22px;
    padding: 8px 20px;
    color: #fff;
    font-weight: bold;
}

.lang{
    padding: 0px 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.main-first{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-first h1{
    font-size: 3.2rem;
    padding: 10px 0px;
}

.main-first .banner{
    background: url(./images/bachground.webp);
    margin-top: 40px;
    height: 420px;
    width: 1250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 70px 20px #0c628c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > div{
    border-radius: 5px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}
         
.banner .upcoming {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.upcoming:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.banner span{
    color: #91cdf8;
    font-weight: bold;
}
.banner h2{
    margin: 20px;
    font-size: 2.4rem;
}

.main-second{
    background: url(./images/background2.webp);
    width: 100%;
    height: 475px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.banner-2-input{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 40px;
    width: 500px;
}
.banner-2-input input{
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}
.banner-2-input button{
    outline: none;
    border: transparent;
    color: #fff;
    border: none;
    background: linear-gradient(90deg,#1199fa,#11d0fa);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    line-height: 22px;
    padding: 8px 20px;
    color: #fff;
    font-weight: bold;
}
.main-second p{
    margin: 10px 400px;
    font-size: small;
    text-align: center;
}
#chk1{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main-third, .main-forth, .main-six{
    padding: 100px 180px;
    text-align: center;
}
.brand-header{
    position: relative;
}

.brand-header-right,.brand-header-left {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0;
    padding: 7px 10px;
    background-color: #0f1c39;
}
.brand-header-left{
    right: 40px;
}

.list-one{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.list-one img{
    border-radius: 50%;
    height: 160px;
    width: 160px;
}
.list-one p {
    margin-top: 10px;
}

.main-forth .list-one > div{
    position: relative;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.list-pics{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 25px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 300px;
}
.list-pics img{
    height: 40px;
    width: 40px;
}
.title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.panel-left{
    position: absolute;
    left: 0;
}
.main-six-nav-panel{
    margin-top: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    gap: 30px;
}
#sales{
    background-color: transparent;
    color: #fff;
    border: 2px solid #1197f8;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 25px;
}

.main-six-nav-panel button, .display{
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 25px;
    width: 140px;
    padding: 10px 0px;
    background-color: #0f1c39;
    color: #fff;
}
.seven-days, .four:focus , .nine:focus , .four:active , .nine:active ,.four:target{
    background: linear-gradient(90deg, rgb(17, 153, 250) 0%, rgb(17, 208, 250) 100%);
}
.display{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: fit-content;
}
.four{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.nine{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
.display > div{
    padding: 10px 20px;
}

 .main-six .collections{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
 }

 .collections > div{
    height: 460px;
    width: 275px;
    display: grid;
    grid-template-rows: 3fr 2fr;
    border-radius: 25px;
    text-align: left;
    
 }

 .collections > div > img{
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    background-size: cover;
}

.creator{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
}
.details{
    border-radius: 0px 0px 25px 25px;
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.creator > img{
    width: 20px;
    height: 20px;
    border-radius: 25px;
}

.verified{
    position: absolute;
    right: 10px;
}

.creator p{
    font-size: small;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: "----";
}
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.buttons span{
    padding-right: 20px;
}

.buttons button{
    background-color: #e5f3fc;
    color: hsl(204.98deg 95.43% 57.06%);
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
}

.main-six > button{
    margin-top: 50px;
    color: #1198f9;
    background-color: transparent;
    border: 2px solid #1198f9;
    padding: 20px 30px;
    border-radius: 5px;
}

.final{
    padding: 30px;
}

.final-last{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.contact{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.final-last span{
    margin: 0px 15px;
}
.message {
    position: fixed;
    height: 25px;
    width: 25px;
    color: #fff;
    z-index: 1;
    bottom: 30px;
    right: 20px;
    padding: 10px;
    background-color: #024069;
    border-radius: 25px;
}

